<section class="container border bg-light text-dark mt-5 p-3">
    <h2>Add New Detail</h2>
    <form #myForm="ngForm" (ngSubmit)='Adddetail(myForm.value)'>
      <div class="form-group">
        <input class="form-control p-2" placeholder="enter your name"
        name="text" ngModel>
      </div>
       <div class="form-group">
        <input class="form-control p-2" placeholder="enter your name"
        name="done" ngModel>
      </div>
     
      <div class="form-group">
        <button type="submit" class="btn btn-success">Add edit</button>
      </div>
    </form>
  </section>
  